// Fonts

$heading-font:'Montserrat', sans-serif;
$paragraph-font:'Manrope', sans-serif;

// Font-Size

//Big Screen (width: 1440)
$bs-H1: 55px;
$bs-H2: 35px;
$bs-H3: 30px;

// Colors

$white: #FFF;
$secondary-color: #A5B4FC;
$primary-color: #1F2039;

