// Fonts

$heading-font: "Montserrat", sans-serif;
$paragraph-font: "Manrope", sans-serif;

// Font-Size

//Big Screen (width: 1440)
$bs-H1: 55px;
$bs-H2: 35px;
$bs-H3: 30px;
$bs-H4: 20px;
$bs-H5: 16px;

// Colors

$white: #fff;
$secondary-color: #a5b4fc;
$primary-color: #1f2039;
