@use "../../abstracts/variables";

.prices-header {
  height: 309px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: variables.$primary-color;

  h1 {
    width: 602px;
    height: 67px;
    display: flex;
    align-items: center;
    font-family: variables.$heading-font;
    font-weight: 400;
    line-height: 67.05px;
    font-size: variables.$bs-H1;
    color: variables.$secondary-color;
  }

  &__button {
    width: 254px;
    height: 65px;
    display: flex;
    justify-content: center;
  }
}
