@use "../../abstracts/variables";

.about {
  width: 100%;
  height: 792px;
  background-color: variables.$primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$white;

  h1 {
    width: 602px;
    height: auto;
    font-family: variables.$heading-font;
    font-weight: 400;
    line-height: 67.05px;
    font-size: variables.$bs-H1;
    color: variables.$secondary-color;
  }

  &__container {
    width: 516px;
    height: 407px;
    padding: 101px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: variables.$paragraph-font;
    font-weight: 300;

    p {
      width: 100%;
      height: 187px;
      line-height: 21.86px;
    }
    .services {
      display: block;
      margin-top: 24px;
      font-size: 20px;
    }

    ul {
      padding-left: 20px;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: variables.$secondary-color;
    }

    &::before {
      width: 1px;
      height: 407px; /* Pour ajuster la longueur */
      right: 11px;
      top: 60px; /* Pour centrer verticalement */
    }

    &::after {
      height: 1px;
      width: 258px; /* Pour ajuster la longueur */
      bottom: 10px;
      right: 12px; /* Pour centrer horizontalement */
    }
  }

  &__button {
    padding: 72px 0px 118px 0px;
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
