* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 1440px;
  height: 2616px;
  margin: 0 15%;
  background-color: black;
}

.header-nav {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}
.header-nav__logo {
  width: 82.7px;
  height: 44.25px;
  margin: 18px 588.3px 17.75px 49px;
}
.header-nav__links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-nav__links a {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.59px;
  text-decoration: none;
  color: #242424;
}

.footer-nav {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
}
.footer-nav__logo {
  width: 57px;
  height: 30.5px;
  margin-left: 48px;
}
.footer-nav__links {
  width: 50%;
  margin-left: 1151px;
  margin-right: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-nav__links img {
  width: 31.44px;
  height: 31.44px;
}

.button {
  width: 314px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  background: linear-gradient(#8e86b5, #acaeed);
}

.presentation {
  width: 100%;
  height: 653px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1F2039;
}
.presentation__text {
  width: 419px;
  height: 372px;
  padding: 0px 182px 19px 242px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: 400;
}
.presentation__text h1 {
  width: 379px;
  height: 134px;
  margin-right: 182px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 67.05px;
  font-size: 55px;
  color: #A5B4FC;
}
.presentation__text p {
  width: 409px;
  height: 108px;
  margin: 19px 152px 46px 0;
  line-height: 27.32px;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  letter-spacing: 0.3px;
  color: #FFF;
}
.presentation__photo-border {
  position: relative;
}
.presentation .border {
  position: relative;
  display: inline-block;
}
.presentation .border::before {
  content: "";
  position: absolute;
  top: 480px;
  right: 155px;
  width: 1px;
  height: 69px;
  background-color: #A5B4FC;
}
.presentation .border::after {
  content: "";
  position: absolute;
  top: 549px;
  right: 155px;
  width: 70px;
  height: 1px;
  background-color: #A5B4FC;
}
.presentation img {
  width: 380px;
  height: 425px;
  margin: 101px 178px 127px 0px;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
}
.project h2 {
  width: 100%;
  height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 42.67px;
}
.project__gallery {
  width: 100%;
  height: 638px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.project__gallery img {
  width: 349px;
  height: 311px;
}
.project__button {
  width: 100%;
  height: 249px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  width: 100%;
  height: 721px;
  display: flex;
  flex-direction: column;
  background-color: #1F2039;
}
.contact-form h2 {
  padding-top: 65px;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  color: #A5B4FC;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  line-height: 42.67px;
}
.contact-form__form {
  width: 525px;
  margin: 0 457px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  font-weight: 200;
  font-size: 18px;
  line-height: 24.59px;
}
.contact-form__form input,
.contact-form__form textarea {
  border-radius: 4px;
}
.contact-form__form label {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: "Manrope", sans-serif;
}
.contact-form__form .name {
  margin-right: 11px;
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.contact-form__form .name #name {
  width: 253px;
  height: 62px;
}
.contact-form__form .email {
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.contact-form__form .email #email {
  width: 253px;
  height: 62px;
}
.contact-form__form .message {
  display: flex;
  flex-direction: column;
  color: #FFF;
}
.contact-form__form .message #message {
  width: 525px;
  height: 207px;
}
.contact-form__button {
  width: 216px;
  height: 65px;
  margin-top: 44px;
  display: flex;
  justify-content: center;
}

.photos {
  width: 100%;
  height: 412px;
  padding-top: 140px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  background-color: #1F2039;
}
.photos__gallery {
  width: 1044.25px;
  height: 412px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20.75px;
}
.photos__gallery img {
  width: 192.25px;
  height: 195px;
}

/*# sourceMappingURL=style.css.map */
